/* Button Styles */
.button {
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.button.primary {
  color: #ffffff;
  background: #448ef7;
  border: 1px solid #448ef7;
}

.button.danger {
  color: #ffffff;
  background: #f44336;
  border: 1px solid #f44336;
}

.button.default {
  color: #448ef7;
  background: #ffffff;
  border: 1px solid #448ef7;
}

.button.sm {
  padding: 5px 0px;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* User Management Card Wrapper */
.user-management-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-details-card {
  position: relative;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  border: 1px solid #00000033;
  overflow: hidden;
  background-color: #fff;
}

.user-details-card .image-hover,
.user-details-card .text-center {
  transition: filter 0.3s ease;
  position: relative;
  z-index: 2;
}

.user-details-card::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}

.user-details-card:hover::before {
  background-color: rgba(0, 0, 0, 0.1);
}