.infinite-scroll-component {
  height: 300 !important;
  overflow: hidden !important;
}

.scrollBar::-webkit-scrollbar {
  display: none;
}

.scrollBar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* track color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #9333ea;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #9333ea #f1f1f1;
}
